<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Login">
    <classes>
      <class name="com.automation.tests.Test001_VerifyLogin"/>
    </classes>
  </test> 
  <test name="Register">
  <classes>
      <class name="com.automation.tests.Test002_VerifyRegistration"/>
  </classes>
  </test>
  <!-- Test -->
</suite> <!-- Suite -->
